/* .contact{
    
    border-bottom: 6px solid var(--black);
  background-color: var(--white);
  color: var(--yellow);
  padding-top: 0;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 50px;
}
.social-link {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  font-weight: 500;
}

.social-icon {
  width: 20px;
  height: 20px;
}

a{
    background: var(--yellow);
  border: 4px solid black;
  box-shadow: 6px 6px 0 black;
  font-weight: 800;
  text-transform: uppercase;

  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 1px;
  padding: 1px;
  

} */


.contact {
  border-bottom: 6px solid var(--black);
  background-color: var(--white);
  color: var(--yellow);
  padding: 0 30px 50px;
}

/* Container for all links */
.social-links {
  display: flex;
  flex-wrap: wrap; /* wraps on small screens */
  gap: 20px;
  margin-top: 20px;
}

/* Individual link */
.social-link {
  display: inline-flex;
  align-items: center;
  gap: 8px;

  background: var(--yellow);
  border: 4px solid black;
  box-shadow: 6px 6px 0 black;

  padding: 6px 10px;
  text-decoration: none;
  color: black;

  font-family: "Bebas Neue", sans-serif;
  font-weight: 800;
  letter-spacing: 1px;
  text-transform: uppercase;

  /* transition: transform 0.2s ease, box-shadow 0.2s ease; */
}

/* Hover effect */
.social-link:hover {
   transform: translate(-2px, -2px);
  box-shadow: 8px 8px 0 black;
}

/* Icons */
.social-icon {
  width: 20px;
  height: 20px;
}
