.expedu{
    color:var(--black);
    padding: 60px;
    background-color: var(--white);
    justify-content: center;
    border-bottom: 6px solid var(--black);
}
h2{
    color:var(--yellow);
}
.education-row {
    display: flex;
    justify-content: space-between; /* Pushes content to opposite ends */
    align-items: center;           /* Aligns them vertically in the middle */
    width: 100%;                   /* Ensures it takes up the whole line */
    margin-top: 5px;  
             /* Optional: adds a little space below the college name */
    color: var(--black) ;
}
span{
    columns: var(--black);
}
.marks{
    color: var(--black) ;
}

.exp, .edu{
    background: var(--white);
    padding: 20px;
  border: 4px solid rgb(0, 0, 0);
  box-shadow: 6px 6px 0 rgb(0, 0, 0);
  font-weight: 800;
  text-transform: uppercase;
}

.company_name{
    float: right;
}