.card_container{
   align-items: center;
   justify-content: center;
    padding: 10px;
    width: 50%;
    display: flex;
}

.skill_name{
    color:var(--black);
}

.skills{
    background-color: var(--purple);
    color: var(--yellow);
    padding-left: 30px;
    padding-right: 30px;

    border-bottom: 6px solid var(--black);
  
}

h2{
    color: #f9a8d4;
}
.big_letters{
    font-family: "Bebas Neue", sans-serif;
    font-size:xx-large;
}
.small_letters{
    color: var(--black);
}
.skill_image{
    height: 50px;
    width: 50px;
}

.skill_card{
    background: var(--white);
  border: 4px solid black;
  box-shadow: 6px 6px 0 black;
  font-weight: 800;
  width:fit-content;
  text-transform: uppercase;
}
.skill_card:hover{
    transform: translate(-2px, -2px);
  box-shadow: 8px 8px 0 black;
}

.skills_grid{
      display: grid;
      justify-content: space-between;
      align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
}