:root {
   font-family: "Inter", sans-serif;
  line-height: 1.5;
  font-weight: 500;
  background-color: #ffffff ;
  margin:0;
  padding: 0;
  max-width: 100%;
   --yellow: #FFD500;
  --purple: #6A0DAD;
  --navy: #0A1A44;
  --black: #000000;
  --white: #FFFDF7;

  /* font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

a {
  font-weight: 500;
  color: #220c53;
  text-decoration: inherit;
}
a:hover {
  color: #2b1d73;
}

body {
  margin: 0;
  /* display: flex; */
  /* place-items: center; */
  /* min-width: 320px;
  min-height: 100vh; */
}

h1 {
  font-size: clamp(3rem, 6vw, 5rem);
}

h2 {
  font-size: clamp(2rem, 4vw, 3rem);
}

button {
  background: var(--yellow);
  border: 4px solid black;
  box-shadow: 6px 6px 0 black;
  font-weight: 800;
  text-transform: uppercase;
}
button,
.nav-item {
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 1px;
}



button:hover {
  transform: translate(-2px, -2px);
  box-shadow: 8px 8px 0 black;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 1px;
}